// theme.styl

// === 字體設定 ===
fontA = "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif
fontB = "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif

// === 路徑 ===
imgPath = '../images/'
bg = 'background.jpg'

// === 色彩階層 A ===
colorA0 = #003676
colorA1 = #074997
colorA2 = #125aae
colorA3 = #2269bc
colorA4 = #387ac8
colorA5 = #4b89d2
colorA6 = #689ddc
colorA7 = #89b5e9
colorA8 = #afcdf0
colorA9 = #c5daf3

// === 色彩階層 B ===
colorB0 = #003676
colorB1 = #074997
colorB2 = #125aae
colorB3 = #2269bc
colorB4 = #387ac8
colorB5 = #4b89d2
colorB6 = #689ddc
colorB7 = #89b5e9
colorB8 = #afcdf0
colorB9 = #c5daf3

// === 黑白階層 Z ===
colorZ0 = #000000
colorZ1 = #202020
colorZ2 = #303030
colorZ3 = #505050
colorZ4 = #707070
colorZ5 = #909090
colorZ6 = #aaaaaa
colorZ7 = #cccccc
colorZ8 = #dedede
colorZ9 = #ffffff

sysbg = #1f1f1f

// === 系統色 ===
sys1 = #1e212b
sysbor = #f12939

// === 顏色陣列 ===
colorArr = #fc3848 #ffec39 #25C7A2 #1B96F1 #8b12db

// === 顏色代碼 ===
colorP0 = #fc7232
colorY0 = #9c7809
colorR0 = #e23a2e

frameline = #ced4da

// === 自定義引用 ===
// Stylus 不支援 @forward, 改用 @import
// @import './_reset'
// @import './_mixin.styl'
// @import './_arryMap'
